body{
        font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}

.orange-text{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
    padding-top: 20px;
}
.half-width{
   width: 50%;
   padding-left: 5% ;
   
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(salmon,orange);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 100;
    
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat
}
.Dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
p{
    padding-bottom: 10px;
    padding-right: 150px;
    text-align: justify;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5% ;
    box-shadow:10px 10px 40px grey;
    border-radius: 5%;
}
h2{
    font-size: 30px;
}
.Experience-section{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.padding-walah1{
    padding-left: 100px;
}
#webdev{
    border-image:linear-gradient(blue,cyan);
    border-image-slice: 1;
    border-left: 7px solid;
}
#fullstack{
    border-image:linear-gradient(tomato,orange);
    border-image-slice: 1;
    border-left: 7px solid;
}
footer p{
    text-align: center;
    margin-left: 110px;
}